<div class="booking-card" *ngFor="let booking of orderHistory">
  <div class="booking-header">
    <span class="booking-id">Booking ID: {{ booking.bookingId }}</span>
    <span [ngClass]="getStatusClass(booking.status)">
      {{ booking.status }}
    </span>
  </div>
  <div class="booking-details">
    <p><strong>Booking Date:</strong> {{ booking.bookingDate }}</p>
    <p *ngIf="booking.slotAllocatedDate"><strong>Slot Allocated:</strong> {{ booking.slotAllocatedDate }} at {{ booking.slotAllocatedTime }}</p>
    <!-- <p *ngIf="booking.remarks"><strong>Remarks:</strong> {{ booking.remarks }}</p> -->
    <p *ngIf="booking.status === 'Reject' && booking.rejectedReason"><strong>Rejection Reason:</strong> {{ booking.rejectedReason }}</p>
  </div>
</div>

