<div class="order-history-container">
  <div *ngFor="let order of orderHistory" class="order-card">
    <div class="order-details">
      <div class="order-info">
        <div class="order-name">Booking ID: <span class="highlight">{{ order.bookingId }}</span></div>
        <div class="order-date">Booking Date: <span class="highlight">{{ order.bookingDate | date }}</span></div>
        <div class="order-date">Slot Allocated Date: <span class="highlight">{{ order.slotAllocatedDate | date }}</span></div>
      </div>
    </div>
  </div>
</div>
