<div class="container bodyContainer" style="padding: 10px;">  
    <!-- Booking List -->
    <div class="card" >
      <div class="card-header">
        <h5>Dashboard</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Salon ID</th>
              <th>Salon Name</th>
              <th>Phone No</th>
              <th>Subscription End Date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of filteredRecords">
              <td>{{ booking.salonId }}</td>
              <td>{{ booking.salonName}}</td>
              <td>{{ booking.phone}}</td>
              <td>{{ booking.subscriptionEndDate | date:'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  