body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4A6572;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.membership-type {
  color: white;
  font-size: 16px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.content {
  padding: 80px 20px 60px; /* Adjust the top and bottom padding to account for the fixed top and bottom bars */
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #232F34;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* .bottom-bar .icon {
  font-size: 24px;
} */

.bottom-bar.hidden {
  transform: translateY(100%);
}
