
   .menu li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  

  .menu li.active a {
    padding: 5px 30px 5px 20px;
    border-radius: 5px;
    background-color: #856343; /* Change to your preferred highlight color */
    color: #fff;
    cursor: pointer;
  }

  .menu-items{
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
  }

  ol, ul {
    padding-left: 0rem;
}

.sidebar {
  padding: 15px;
  height: 98%;
  width: 180px;
  margin: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../assets/pic3.png');
  padding-top: 20px;
  border-radius:20px;
  display: block;
  color: #FFFFFF;
}


#bottom-item {
  margin-top: auto; /* Push this item to the bottom */
}
.rounded-top{
  border-radius: 5px; /* Border radius applied to the right side */
  margin: 5px 0 5px 0;
  height: 50px; 
  padding: 5px;
  display: flex;
  color: #ffffff;
  background-image: url('../assets/pic3.png');
} 



.notification-bell {
  position: relative;
  display: inline-block;
}

.bell-icon {
  font-size: 24px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.notification-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  color: black;
}

.notification-dropdown .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.notification-dropdown div {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-dropdown div:hover {
  background-color: #f9f9f9;
}

.unread {
  font-weight: bold;
}


/* CSS */
@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}