<div class="comtainer-fluid">
    <div class="sidebar"  *ngIf="isSuperAdmin">
        <p style="font-size: 20px; font-weight: 800;"><i class="fa-brands fa-stumbleupon"></i> Saloon</p>
        <ul class="menu" style="margin-top: 5px;">
            <li class="menu-items" [class.active]="selectedItem === 'item1'"><a  (click)="selectItem('item1')"><i class="fa-solid fa-table-columns"></i> Dashboard</a></li>
            <li class="menu-items" [class.active]="selectedItem === 'item2'" routerLink="Saloons"><a  (click)="selectItem('item2')"><i class="fa-solid fa-bars-progress"></i> Manage</a></li>
            <li class="menu-items" [class.active]="selectedItem === 'item3'" routerLink="Services"><a  (click)="selectItem('item3')"><i class="fa-solid fa-cube"></i> Services</a></li>
            <li class="menu-items" [class.active]="selectedItem === 'item4'" routerLink="Packages"><a  (click)="selectItem('item4')"><i class="fa-solid fa-cubes"></i> Package</a></li>
            <li style="bottom: 0; cursor: pointer;" (click)="logout()"><a><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></li>
          </ul>
    </div>

    <div class="sidebar"  *ngIf="isAdmin">
        <p style="font-size: 20px; font-weight: 800;"><i class="fa-brands fa-stumbleupon"></i> Saloon</p>
        <ul class="menu" style="margin-top: 5px;">
            <li class="menu-items" [class.active]="selectedItem === 'item1'"><a  (click)="selectItem('item1')"><i class="fa-solid fa-table-columns"></i> Dashboard</a></li>
            <li class="menu-items" [class.active]="selectedItem === 'item3'" routerLink="Services"><a  (click)="selectItem('item3')"><i class="fa-solid fa-cube"></i> Services</a></li>
            <li class="menu-items" [class.active]="selectedItem === 'item4'" routerLink="Packages"><a  (click)="selectItem('item4')"><i class="fa-solid fa-cubes"></i> Package</a></li>
            <li style="bottom: 0; cursor: pointer;" (click)="logout()"><a><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></li>
          </ul>
    </div>
    <div style="margin-left: 180px;">
        <router-outlet></router-outlet>
    </div>
    
</div>


  