<div class="container">
  <div class="row">
    <h2 class="header">Services</h2>
    <div class="card" *ngFor="let item of serviceList">
      <div class="card-body">
        <div class="image-container">
          <img src="{{item.servicePic}}" alt="Service Image">
        </div>
        <div class="card-details">
          <span class="card-title">{{ item.serviceName }}</span>
          <div class="price-details">
            <span>Price: </span>
            <span class="original-price">{{ item.price }}</span>
            <span class="discount-price">{{ item.discountPrice }}rs</span>
          </div>
          <!-- <span class="card-text">{{ item.details }}</span> -->
        </div>
      </div>
      <div class="product-actions" style="margin: 10px;">
        <button class="btn btn-warning" (click)="addToCart(item.serviceId)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
