.body{
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/pic3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}


.centered {
	display: flex;
	flex-direction: column;
	margin-top: 30%;
  width: 70%;
  }

  @media only screen and (max-width: 400px) {
    .centered {
      display: flex;
      flex-direction: column;
      margin-top: 45%;
      width: 100%;
      }
  }


  .custom-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .save-button {
    margin-top: 5px;
    width: 45%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .cancel-button {
    margin-top: 5px;
    width: 45%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3c80e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }