<!-- product-detail.component.html -->
<div class="product-detail">
    <div class="product-image">
      <img [src]="product.packageLogo" alt="Product Image">
    </div>
    <div class="product-info">
      <h2>{{ product.packageName }}</h2>
      <p>{{ product.details }}</p>
      <p>
        <span class="original-price">{{ product.price | currency:'INR' }}</span>
        <span class="discounted-price">{{ product.discountPrice | currency:'INR' }}</span>
      </p>
      <p>Services: {{ product.services.join(', ') }}</p>
    </div>
    <div class="product-actions">
      <button class="add-to-cart" (click)="addToCart(product.packageId)">Add to Cart</button>
      <button class="buy-now">Buy Now</button>
    </div>
    
  </div>
  