<div class="combo-container">
  <div class="service-grid">
    <div *ngFor="let service of serviceDetails" class="service-card">
      <div class="service-img">
        <img [src]="service.servicePic" [alt]="service.serviceName">
      </div>
      <div class="service-info">
        <h3>{{ service.serviceName }}</h3>
        <p>{{ service.details | slice: 0:50 }}...</p> <!-- Truncate long details -->
        <p>Price: 
          <span class="original-price">₹{{ service.price }}</span> 
          <span class="discount-price">₹{{ service.discountPrice }}</span>
        </p>
        <p>Service Type: {{ service.serviceType }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer text-center" style="margin-top: 5px;">
    <button 
      class="btn btn-warning" 
      (click)="addToCart(packageId)">Add to Cart</button>
  </div>
</div>
