<div class="container bodyContainer">
  <!-- Search for Customer -->
   <br>

  <!-- Booking List -->
  <div class="card">
    <div class="card-header">
      <h5>Booking List</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Booking Date</th>
            <th>Slot Date</th>
            <th>Slot Time</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Advance Payment</th>
            <th>Booking Confirmed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking.bookingId }}</td>
            <td>{{ booking.bookingDate | date:'short' }}</td>
            <td>
              <input 
                type="date" 
                [(ngModel)]="booking.slotAllocatedDate"
                (change)="updateBooking(booking)" 
                class="form-control"
              />
            </td>
            <td>
              <input 
                type="time" 
                [(ngModel)]="booking.slotAllocatedTime"
                (change)="updateBooking(booking)" 
                class="form-control"
              />
            </td>
            <!-- <td>{{ booking.status ? 'Active' : 'Inactive' }}</td> -->
            <td>
              <select [(ngModel)]="booking.status" (change)="onStatusChange(booking)" class="form-control">
                <option value="Pending">Pending</option>
                <option value="Approve">Approve</option>
                <option value="Reject">Reject</option>
                <option value="Slot not available">Slot not available</option>
              </select>
            </td>
            <td>{{ booking.remarks }}</td>
            <td>
              <select 
                [(ngModel)]="booking.advancePayment"
                (change)="updateBooking(booking)" 
                class="form-control"
              >
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
            </td>
            <td>
              <select 
                [(ngModel)]="booking.bookingConfirm"
                (change)="updateBooking(booking)" 
                class="form-control"
              >
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
            </td>
            <td>
              <button class="btn btn-success" (click)="saveBooking(booking)">
                Save
              </button>
            </td>
          </tr>
        </tbody>

        <div *ngIf="bookings.length === 0" class="card-body text-center">
          <p>{{message}}</p>
        </div>
      </table>
    </div>
  </div>
</div>



<div *ngIf="isVisible" class="notification" [ngClass]="{ 'show': isVisible }">
  {{ message }}
</div>