<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of packageList">
      <div class="card">
        <div class="card-header">
          <img src="{{item.packageLogo}}" alt="Service Image" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.packageName }}</h5>
          <div class="price-details">
            <span class="original-price">{{ item.price | currency }}</span>
            <span class="discount-price">{{ item.discountPrice | currency }}</span>
          </div>
          <p class="card-text">{{ item.details }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-warning" (click)="addToCart(item.packageId)">Add to Cart</button>
          <!-- <button class="btn btn-secondary" (click)="goToProductDetail(item.packageId)">View Details</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
