<app-spinner [isVisible]="isLoading2"></app-spinner>
<div class="container combo-container" style="margin-top: 5px;">
  <div class="row service-grid" style="padding: 1px;">
    <div class="col-6" *ngFor="let item of filteredServices" style="padding: 0;">
      <div class="service-column">
        <div class="image-container">
          <img [src]="item.packageLogo" alt="Package Image" class="img-fluid service-img" (click)="goToProductDetail(item.packageId)">
        </div>
        <div class="service-details">
          <!-- Add a badge for package type if needed -->
          <!-- <span class="badge package-type-badge">
            {{ item.packageType }}
          </span> -->
          <h5 class="service-title">{{ item.packageName }}</h5>
          <div class="price-details">
            <span class="original-price">{{ item.discountPrice | currency:'INR' }}</span><br>
            <span class="discount-price">{{ item.price | currency:'INR' }}</span>
          </div>
          <!-- <button 
            class="btn btn-warning w-100 mt-2" 
            (click)="addToCart(item.packageId)">Add to Cart</button> -->

            <!-- <button 
            class="btn btn-warning w-100 mt-2" 
            [disabled]="isLoading(item.packageId)"
            (click)="addToCart(item.packageId)">
            <ng-container *ngIf="isLoading(item.packageId); else buttonText">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span> Adding...</span>
            </ng-container>
            <ng-template #buttonText>
              Add to Cart
            </ng-template>
          </button> -->

          <button class="btn gradient-btn w-100 mt-2" [disabled]="isLoading(item.serviceId)"
            (click)="addToCart(item.packageId)">
            <ng-container *ngIf="isLoading(item.serviceId); else buttonText">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span> Adding...</span>
            </ng-container>
            <ng-template #buttonText>
              Add to Cart
            </ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="no-services" *ngIf="noServiceAvailable">
  <h2 class="not-found-text">No Packages Found</h2>
  <iframe src="https://lottie.host/embed/31610d4a-36b2-4eee-a2ad-ac6b7890c268/j4RIUcfzqZ.json"></iframe>
  <!-- <iframe src="https://lottie.host/embed/265e3f21-c129-4392-b032-b0bf1e5c9cd5/biOVMOV5xD.json"></iframe> -->
  <!-- <iframe src="https://lottie.host/embed/d6bb662c-bb1f-4fdd-b49a-4bcd2f43a39a/54cVs7tDdf.json"></iframe>
  <h2 class="not-found-text">No Services Found</h2> -->
</div>